<div class="container">
   <div class='row'>
    <div class="col-md-3">
    
    <%= render 'members/items/category', categories: @categories %>
      
    </div>
    
    <div class="col-md-8 offset-md-1">
    
    <h1>商品詳細</h1>
    <%= render 'members/items/category', categories: @categories %>
      	<table class='table'>
      	<tr>
  		    <td colspan="3"></td>
          <td>商品名</td>
          <td>商品説明</td>
          <td>税抜価格</td>
          <td colspan="3"></td>
          <td colspan="3"></td>
          <td colspan="3"></td>
        </tr>
  		  <tr>
  		    <td><%= attachment_image_tag @item, :picture, :fill, 100, 100, format: 'jpeg' %></td>
          <td><%= @item.name %></td>
          <td><%= @item.description %></td>
          <td><%= @item.price %></td>
          <td class="badge rounded-pill bg-primary">カテゴリー</td>
          <td class="badge rounded-pill bg-primary">販売ステータス</td>

        </tr>
      </table>
    </div>
  </div>
</div>
