 
        <% addresses.each do |address| %>
        <div class="shadow p-3 mb-5 bg-white rounded">
          <p class="font-weight-bold">郵便番号</p>
          <p><%= address.zip %></p>
          <p class="font-weight-bold">住所</p>
          <p><%= address.address %></p>
          <p class="font-weight-bold">宛先</p>
          <p><%= address.name %></p>
          <a><%= link_to '編集', edit_members_address_path(address), class: "btn btn-outline-info" %></a>
          <a><%= link_to '削除', members_address_path(address), method: :delete, data:{confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-outline-danger" %></a>
         </div>
       <% end %>
      
        

     