  <table class="table">
          <thead>
           <tr>
             <th>〒</th>
             <th>住所</th>
             <th>名前</th>
             <th colspan="4"></th>
           </tr>
         </thead>

        <tbody>
        <% addresses.each do |address| %>
         <tr>
          <td><%= address.zip %></td>
          <td><%= address.address %></td>
          <td><%= address.name %></td>
          <td><%= link_to "Edit", edit_members_address_path(address) %></td>
          <td><%= link_to "Destroy", members_address_path(address), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} %></td>
        </tr>
       <% end %>
      </tbody>
      </table>