<h3>商品新規登録</h3>

<%= form_with model: @item, url: new_admins_item_path, local:true do |f| %>

  <div>
   <%= f.label :image, "商品画像" %>
   <%= f.attachment_field :image %>
  </div>

  <div>
   <%= f.label :name, "商品名" %>
   <%= f.text_field :name, placeholder:"商品名" %>
  </div>

  <div>
   <%= f.label :description, "商品説明" %>
   <%= f.text_area :description, placeholder:"ここに説明文を記述します" %>
  </div>

  <div>
   <%#= f.label :category_id %>

  </div>


  <div>
   <%= f.label :price, "税抜価格" %>
   <%= f.text_field :price %>円
  </div>

  <div>
   <%= f.label :status, "販売ステータス" %>
   <div>
    <%= f.radio_button :status, true %>
    <%= f.label :status, '販売中', value: true %>
   </div>
   <div>
    <%= f.radio_button :status, false %>
    <%= f.label :status, '販売停止中', value: false %>
   </div>
  </div>

  <div>
   <%= f.submit '新規登録' %>
  </div>
<% end %>