<div class="container">
  <div class='row'>
    <h1>商品詳細</h1>
      <table class='table'>
        <thead>
      	<tr>
  		    <th></th>
          <th>商品名</th>
          <th>商品説明</th>
          <th>税抜価格</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
  		  <tr>
  		    <td><%= attachment_image_tag @item, :picture, :fill, 100, 100, format: 'jpeg' %></td>
          <td><%= @item.name %></td>
          <td><%= @item.description %></td>
          <td><%= @item.price %></td>
          <td class="badge rounded-pill bg-primary">カテゴリー</td>
          <td class="badge rounded-pill bg-primary">販売ステータス</td>
          <td><%= link_to '編集', edit_admins_item_path(@item), class: "btn btn-sm btn-success edit_admins_item_#{@item.id}" %></td>
        </tbody>
        </tr>
      </table>
    </div>
  </div>
</div>