<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="container">
  <a class="navbar-brand" href="/">Naganocake</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
  
      <% if member_signed_in? %>
       <!--<a class="nav-item nav-link active" href= "/members/members/:id" >Mypage <span class="sr-only">(current)</span></a>-->
       <div><%= link_to "Mypage", members_member_path(current_member.id), class: "nav-item nav-link active" %></div>
       <a class="nav-item nav-link" href="/about">About</a>
       <a class="nav-item nav-link" href="/members/items">Items</a>
       <a class="nav-item nav-link disabled" href="/members/cart_items">Cart items</a>
       <div><%= link_to "Logout", destroy_member_session_path, method: :delete, class: "nav-item nav-link" %></div>
       
      <% elsif admin_signed_in? %>
       <a class="nav-item nav-link" href="/admins/top">Orders</a>
       <a class="nav-item nav-link" href="/admins/items">Items</a>
       <a class="nav-item nav-link" href="/admins/members">Members</a>
       <a class="nav-item nav-link" href="/admins/categories">Categories</a>
       <div><%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "nav-item nav-link" %></div>
      <% else %>
       <a class="nav-item nav-link" href="/about">About</a>
       <a class="nav-item nav-link" href="/members/sign_up">Sign up</a>
       <div><%= link_to "Login", new_member_session_path, class: "nav-item nav-link" %></div>
       <div><%= link_to "Admin_login", new_admin_session_path, class: "nav-item nav-link" %></div>
      <% end %>
      
      </div>
    </div>
  </div>
  </nav>
</header>